<!-- I know these should be links -->
<button {{on 'click' this.stepOne}}>Step 1</button>
<button {{on 'click' this.stepTwo}}>Step 2</button>

<br>
<br>
QueryParams: <pre><code>{{this.qps}}</code></pre><br>
URL: <pre><code>{{this.currentUrl}}</code></pre><br>
Route: <pre><code>{{this.router.currentRoute.localName}}
{{this.router.currentRoute.name}}</code></pre><br>

{{outlet}}